In [3]:
import pandas as pd

# Read the .data file
data = pd.read_csv('new-thyroid.data', header=None)

# Save the data to a CSV file
data.to_csv('thyroid.csv', index=False)

In [5]:
import pandas as pd
data = pd.read_csv('thyroid.csv', header=None)

In [6]:
data.head()

   0    1     2    3    4    5
0  0    1   2.0  3.0  4.0  5.0
1  1  107  10.1  2.2  0.9  2.7
2  1  113   9.9  3.1  2.0  5.9
3  1  127  12.9  2.4  1.4  0.6
4  1  109   5.3  1.6  1.4  1.5

In [18]:
data.columns = ['class','T3', 'T4', 'TSH', 'Goiter','maximal_absolute_difference']

In [19]:
data.head()

   class   T3    T4  TSH  Goiter  maximal_absolute_difference
1      1  107  10.1  2.2     0.9                          2.7
2      1  113   9.9  3.1     2.0                          5.9
3      1  127  12.9  2.4     1.4                          0.6
4      1  109   5.3  1.6     1.4                          1.5
5      1  105   7.3  1.5     1.5                         -0.1

In [21]:
data.head()

   class   T3    T4  TSH  Goiter  maximal_absolute_difference
1      1  107  10.1  2.2     0.9                          2.7
2      1  113   9.9  3.1     2.0                          5.9
3      1  127  12.9  2.4     1.4                          0.6
4      1  109   5.3  1.6     1.4                          1.5
5      1  105   7.3  1.5     1.5                         -0.1

In [23]:
data.isna().sum()

class                          0
T3                             0
T4                             0
TSH                            0
Goiter                         0
maximal_absolute_difference    0
dtype: int64

In [24]:
data.duplicated().unique

<bound method Series.unique of 1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Length: 215, dtype: bool>

In [26]:

from pgmpy.models import BayesianNetwork
from pgmpy.inference import VariableElimination
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [27]:

# Encode categorical variables using LabelEncoder
le = LabelEncoder()
data['class'] = le.fit_transform(data['class'])

# Define the features and target variable
X = data[['T3', 'T4', 'TSH', 'Goiter']]
y = data['class']

In [28]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
# Create a Bayesian Network structure
model = BayesianNetwork([('T3', 'class'), ('T4', 'class'), ('TSH', 'class'), ('Goiter', 'class')])

In [43]:
from pgmpy .models import BayesianNetwork
from pgmpy.factors.discrete import TabularCPD

# Define the Bayesian Network model
model = BayesianNetwork([('T3', 'class'), ('T4', 'class'), ('TSH', 'class'), ('Goiter', 'class')])


                        
model = BayesianNetwork([
    ('T3', 'class'),
    ('T4', 'class'),
    ('TSH', 'class'),
    ('Goiter', 'class')
])

In [ ]:
# Train the model using the dataset
model.fit(data)

# Perform inference using VariableElimination
infer = VariableElimination(model)

# Define a function to make predictions
def predict(instance):
    evidence = {'T3': instance[0], 'T4': instance[1], 'TSH': instance[2], 'Goiter': instance[3]}
    query = ['class']
    result = infer.query(variables=query, evidence=evidence)
    return result['class']

# Make predictions on the dataset
predictions = [predict(instance) for instance in data.values]

# Evaluate the model using accuracy score
accuracy = accuracy_score(data['class'], predictions)
print("Model accuracy:", accuracy)